{% extends 'public/index.html' %}
{% block css %}
<link href="/static/assets/theme/default/style.min.css" rel="stylesheet"/>
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/select2/select2-metronic.css"/>
<link rel="stylesheet" href="/static/assets/css/DT_bootstrap.css"/>
<!-- END PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap-select/bootstrap-select.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/jquery-multi-select/css/multi-select.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap-datepicker/css/datepicker.css" />

{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <a id="back" class="btn btn-sm yellow">
             返回 <i class="fa fa-reply"></i>
        </a>
    {% if request.session.personal_information_id %}
        <a id="edit" class="btn btn-sm blue">
             编辑 <i class="fa fa-edit"></i>
        </a>
    {% endif %}
        <div class="portlet box grey">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-reorder"></i>人员基本信息表
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal form-bordered" action="/personal_information_table_detail/" enctype="multipart/form-data" method="post">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-1">* 姓名</label>
                            <div class="col-md-2">
                                <input type="text" id="name" name="name" class="form-control">
                            </div>
                            <label class="control-label col-md-offset-2 col-md-1">* 邮箱</label>
                            <div class="col-md-2">
                                <input type="text" id="email" name="email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">* 性别</label>
                            <div class="col-md-2">
                                <input type="text" id="sex" name="sex" class="form-control">
                            </div>
                            <label class="control-label col-md-offset-2 col-md-1">* 电话</label>
                            <div class="col-md-2">
                                <input type="text" id="phone" name="phone" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">* 毕业日期</label>
                            <div class="col-md-2">
                                <input type="text" id="graduate_date" name="graduate_date" class="form-control">
                            </div>
                            <label class="control-label col-md-offset-2 col-md-1">毕业年限</label>
                            <div class="col-md-2">
                                <input type="text" id="graduate_year" name="graduate_year" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">职级</label>
                            <div class="col-md-2">
                                <input type="text" id="job_level" name="job_level" class="form-control">
                            </div>
                            <label class="control-label col-md-offset-2 col-md-1">职位</label>
                            <div class="col-md-2">
                                <input type="text" id="job_title" name="job_title" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">* 第一学历</label>
                            <div class="col-md-2">
                                <input type="text" id="first_education" name="first_education" class="form-control">
                            </div>
                            <label class="control-label col-md-offset-2 col-md-1">* 最高学历</label>
                            <div class="col-md-2">
                                <input type="text" id="education" name="education" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">* 毕业学校</label>
                            <div class="col-md-2">
                                <input type="text" id="graduate_school" name="graduate_school" class="form-control">
                            </div>
                            <label class="control-label col-md-offset-2 col-md-1">* 专业</label>
                            <div class="col-md-2">
                                <input type="text" id="specialty" name="specialty" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">* 资源状态</label>
                            <div class="col-md-2">
                                <input type="text" id="resource_state" name="resource_state" class="form-control">
                            </div>
                            <label class="control-label col-md-offset-2 col-md-1">状态变更时间</label>
                            <div class="col-md-2">
                                <input type="text" id="state_change_time" name="state_change_time" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">* 曾入职公司</label>
                            <div class="col-md-2">
                                <input type="text" id="last_company" name="last_company" class="form-control">
                            </div>
                            <label class="control-label col-md-offset-2 col-md-1">简历</label>
                            <div class="col-md-4">
                                <a id="resumes_button" class="btn yellow" style="position:relative;width:100px;height:30px;display:inline-block;overflow:hidden;">浏览...
                                    <input type="file" id="resumes" name="resumes" style="position:absolute;z-index:1;left:0;top:0;opacity:0;">
                                </a>
                                <a id="resumes_show"></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">* 渠道</label>
                            <div class="col-md-2">
                                <input type="text" id="channel" name="channel" class="form-control">
                            </div>
                            <label class="control-label col-md-offset-2 col-md-1">推荐人(选填)</label>
                            <div class="col-md-2">
                                <input type="text" id="referrer" name="referrer" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">* 岗位类别</label>
                            <div class="col-md-2">
                                <input type="text" id="job_type" name="job_type" class="form-control">
                            </div>
                            <label class="control-label col-md-offset-2 col-md-1">入库日期</label>
                            <div class="col-md-2">
                                <input type="text" id="date_of_entry" name="date_of_entry" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">方向</label>
                            <div class="col-md-2">
                                <input type="text" id="direction" name="direction" class="form-control">
                            </div>
                            <label class="control-label col-md-offset-2 col-md-1">薪资状况</label>
                            <div class="col-md-2">
                                <input type="text" id="salary" name="salary" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">执行人</label>
                            <div class="col-md-2">
                                <input type="text" id="executor" name="executor" class="form-control">
                            </div>
                            <label class="control-label col-md-offset-2 col-md-1">更新日期</label>
                            <div class="col-md-2">
                                <input type="text" id="update_time" name="update_time" class="form-control">
                            </div>
                        </div>
                        <div class="form-group last">
                            <label class="control-label col-md-1">* 关键词</label>
                            <div class="col-md-2">
                                <input type="text" id="keywords" name="keywords" class="form-control">
                            </div>
                            <label class="control-label col-md-offset-2 col-md-1">备注</label>
                            <div class="col-md-5">
                                <input type="text" id="comment" name="comment" class="form-control">
                            </div>
                        </div>
                        <input id="id" name="id" style="display:none">
                    </div>
                    <div class="form-actions fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-offset-11 col-md-9">
                                    <button id="submit" class="btn purple" type="submit"><i class="fa fa-check"></i> 提交</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    {% if request.session.personal_information_id %}
        <div class="portlet box grey tasks-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>面试表
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover table-full-width"  id="datatables">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>面试次数</th>
                        <th>ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    {% endif %}
    </div>
</div>

<!--/datatables-->
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/assets/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/data-tables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/data-tables/DT_bootstrap.js"></script>

<!--<script src="/static/assets/plugins/context.js"></script>-->
<!--<script src="/static/assets/plugins/jstree/dist/jstree.min.js"></script>-->
<script src="/static/assets/plugins/holder.js"></script>
<script src="/static/assets/plugins/stilearn-base.js"></script>
<script type="text/javascript" src="/static/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>
<script src="/static/assets/plugins/select2/select2.js"></script>
<script src="/static/assets/plugins/datatables/extras/TableTools.min.js"></script>
<script src="/static/assets/scripts/custom/table-managed.js"></script>
<script type="text/javascript" src="/static/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/static/assets/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/fuelux/js/spinner.min.js" ></script>
<script type="text/javascript" src="/static/assets/plugins/bootstrap-fileinput/bootstrap-fileinput.js" ></script>
<script type="text/javascript" src="/static/assets/plugins/jquery.input-ip-address-control-1.0.min.js" ></script>
<script src="/static/assets/plugins/jquery.pwstrength.bootstrap/src/pwstrength.js" ></script>
<script src="/static/assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js" ></script>
<script src="/static/assets/plugins/jquery-tags-input/jquery.tagsinput.min.js" ></script>
<script src="/static/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" ></script>
<script src="/static/assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js" ></script>
<script src="/static/assets/plugins/typeahead/handlebars.min.js" ></script>
<script src="/static/assets/plugins/typeahead/typeahead.min.js" type="text/javascript"></script>
<script src="/static/assets/scripts/custom/components-form-tools.js"></script>

<script type="text/javascript">
var oTable;
var aButtons
/* Formating function for row details */

$(document).ready(function () {
    $('#sex').select2({
        multiple: false,
        placeholder: '请选择性别',
        allowClear: true,
        data: [{'text':'男','id':'男'},{'text':'女','id':'女'}]
    });

    $('#phone').inputmask({
        "mask": "99999999999"
    });

    $('#date_of_entry').attr('disabled',true)


    $('#graduate_date').inputmask("y-m-d", {
        "placeholder": "yyyy-mm-dd"
    })

    $('#graduate_year').attr('disabled',true)

    $('#first_education').select2({
        multiple: false,
        placeholder: '请选择学历',
        allowClear: true,
        data: [{'text':'本科','id':'本科'},{'text':'大专','id':'大专'},{'text':'硕士','id':'硕士'},{'text':'博士','id':'博士'},
               {'text':'中专职校','id':'中专职校'},{'text':'初中以下','id':'初中以下'}]
    });

    $('#education').select2({
        multiple: false,
        placeholder: '请选择学历',
        allowClear: true,
        data: [{'text':'本科','id':'本科'},{'text':'大专','id':'大专'},{'text':'硕士','id':'硕士'},{'text':'博士','id':'博士'},
               {'text':'中专职校','id':'中专职校'},{'text':'初中以下','id':'初中以下'}]
    });

    $('#channel').select2({
        multiple: false,
        placeholder: '请选择渠道',
        allowClear: true,
        data: [{'text':'Boss','id':'Boss'},{'text':'猎聘','id':'猎聘'},{'text':'前程无忧','id':'前程无忧'},{'text':'拉钩','id':'拉钩'},{'text':'内部推荐','id':'内部推荐'},
               {'text':'其他','id':'其他'}]
    });

    $('#job_type').select2({
        multiple: false,
        placeholder: '请选择类别',
        allowClear: true,
        data: [{'text':'开发','id':'开发'},{'text':'测试','id':'测试'},{'text':'运维','id':'运维'},{'text':'产品','id':'产品'},
               {'text':'设计','id':'设计'},{'text':'BD','id':'BD'},{'text':'文案','id':'文案'},{'text':'策划','id':'策划'},
               {'text':'市场','id':'市场'},{'text':'HR','id':'HR'},{'text':'财务','id':'财务'},{'text':'行政','id':'行政'}]
    });

    $('#resource_state').select2({
        multiple: false,
        placeholder: '请选择类别',
        allowClear: true,
        data: [{'text':'待面试','id':'待面试'},{'text':'待入职','id':'待入职'},{'text':'已入职','id':'已入职'},{'text':'拒offer','id':'拒offer'},
               {'text':'离职','id':'离职'}]
    });

    $('#state_change_time').attr('disabled',true)

    $('#update_time').attr('disabled',true)

    $('#executor').select2({
        multiple: false,
        placeholder: '请选择执行人',
        allowClear: true,
        data: [{'text':'李璟','id':'李璟'},{'text':'华慧宁','id':'华慧宁'}]
    });
{% if request.session.personal_information %}
    {% ifequal request.session.personal_information '保存成功' %}
        toastr.success('保存成功')
        setTimeout('location.href = "/personal_information_table/"',500)
    {% else %}
        toastr.error('{{ request.session.personal_information }}')
    {% endifequal %}
{% endif %}

    $('#resumes_button').on('change',function(){
        $('#resumes_show').html($('#resumes').val())
    })

    $('#name').val('{{ name }}')
    $('#phone').val('{{ phone }}')
    $('#email').val('{{ email }}')
    $('#keywords').val('{{ keywords }}')
    $('#sex').select2('data',{'text':'{{ sex }}','id':'{{ sex }}'})
    $('#graduate_year').val('{{ graduate_year }}')
    $('#graduate_date').val('{{ graduate_date }}')
    $('#first_education').select2('data',{'text':'{{ first_education }}','id':'{{ first_education }}'})
    $('#education').select2('data',{'text':'{{ education }}','id':'{{ education }}'})
    $('#specialty').val('{{ specialty }}')
    $('#graduate_school').val('{{ graduate_school }}')
    $('#last_company').val('{{ last_company }}')
    $('#channel').select2('data',{'text':'{{ channel }}','id':'{{ channel }}'})
    $('#referrer').val('{{ referrer }}')
    $('#salary').val('{{ salary }}')
    $('#job_level').val('{{ job_level }}')
    $('#job_title').val('{{ job_title }}')
    $('#job_type').select2('data',{'text':'{{ job_type }}','id':'{{ job_type }}'})
    $('#resumes_show').html('{{ resumes }}')
    $('#resumes_show').attr('href','/media/{{ resumes_path }}')
    $('#direction').val('{{ direction }}')
    $('#resource_state').select2('data',{'text':'{{ resource_state }}','id':'{{ resource_state }}'})
    $('#comment').val('{{ comment }}')
    $('#state_change_time').val('{{ state_change_time }}')
    $('#executor').select2('data',{'text':'{{ executor }}','id':'{{ executor }}'})
    $('#id').val('{{ id }}')

    loaddata()

    $('#back').on('click',function(){
        history.go(-1)
    })

{% if request.session.personal_information_id %}
    $('#submit').hide()
    $('#name').attr('disabled',true)
    $('#phone').attr('disabled',true)
    $('#email').attr('disabled',true)
    $('#keywords').attr('disabled',true)
    $('#sex').attr('disabled',true)
    $('#graduate_date').attr('disabled',true)
    $('#first_education').attr('disabled',true)
    $('#education').attr('disabled',true)
    $('#specialty').attr('disabled',true)
    $('#graduate_school').attr('disabled',true)
    $('#last_company').attr('disabled',true)
    $('#channel').attr('disabled',true)
    $('#referrer').attr('disabled',true)
    $('#salary').attr('disabled',true)
    $('#job_level').attr('disabled',true)
    $('#job_title').attr('disabled',true)
    $('#job_type').attr('disabled',true)
    $('#resumes').attr('disabled',true)
    $('#direction').attr('disabled',true)
    $('#resource_state').attr('disabled',true)
    $('#comment').attr('disabled',true)
    $('#executor').attr('disabled',true)
{% endif %}

    $('#edit').on('click',function(){
        $('#submit').show()
        $('#name').attr('disabled',false)
        $('#phone').attr('disabled',false)
        $('#email').attr('disabled',false)
        $('#keywords').attr('disabled',false)
        $('#sex').attr('disabled',false)
        $('#graduate_date').attr('disabled',false)
        $('#first_education').attr('disabled',false)
        $('#education').attr('disabled',false)
        $('#specialty').attr('disabled',false)
        $('#graduate_school').attr('disabled',false)
        $('#last_company').attr('disabled',false)
        $('#channel').attr('disabled',false)
        $('#referrer').attr('disabled',false)
        $('#salary').attr('disabled',false)
        $('#job_level').attr('disabled',false)
        $('#job_title').attr('disabled',false)
        $('#job_type').attr('disabled',false)
        $('#resumes').attr('disabled',false)
        $('#direction').attr('disabled',false)
        $('#resource_state').attr('disabled',false)
        $('#comment').attr('disabled',false)
        $('#executor').attr('disabled',false)
    })
});

function loaddata() {
    oTable = $('#datatables').dataTable({
        "sAjaxSource": "/personal_information_interview_data/?rand=" + Math.random(),
        "sDom": "<'row-fluid'<'span6'T><'span6'f>r><'table-scrollable't><'fluid'<'span3'l><'span4'i><'span5'p>>",
        "bServerSide": true,
        "bPaginate": true, // 是否使用分页
        "bProcessing": true, //是否显示正在处理的提示
        "bLengthChange": true, //是否启用设置每页显示记录数
        "bFilter": true, //是否使用搜索
        "bStateSave": true,
        "bDestroy": true,
        "bSort": true, //是否使用排序
        "bAutoWidth": true, //列的宽度会根据table的宽度自适应
        "sPaginationType": "bootstrap",
//        "aLengthMenu": [
//                    [5, 15, 20, -1],
//                    [5, 15, 20, "All"] // change per page values here
//                ],
        "oTableTools": {
            "sRowSelect": "",
            'aButtons': [{
                "sExtends": 'text',

                "sButtonText": '<font color="white">添加 </font><i class="fa fa-plus"></i>',
                "sButtonClass": "btn green ",
                "fnComplete": function (nButton, oConfig, nRow) {
                    add()
                }

            }]
        },
        "aoColumns": [
            { "sClass": "center", 'sWidth': "10%"},
            { "sClass": "center", 'sWidth': "10%"},
            { "sClass": "center", 'sWidth': "5%", 'bVisible': false}


        ],
        "aaSorting": [
            [2, 'asc']
        ],
        "oLanguage": {
            "sProcessing": "正在加载数据...",
            'sSearch': '数据筛选:',
            "sLengthMenu": "每页显示 _MENU_ 项记录",
            "sZeroRecords": "没有符合项件的数据...",
            "sInfo": "当前数据为从第 _START_ 到第 _END_ 项数据；总共有 _TOTAL_ 项记录",
            "sInfoEmpty": "显示 0 至 0 共 0 项",
            "sInfoFiltered": "(_MAX_)",
            "oPaginate": {
                "sFirst": '首页',
                "sPrevious": "上一页",
                "sNext": "下一页",
                "sLast": "最后一页"
            }

        },
        "fnInitComplete": function (oSettings, json) {
            $('input[type=checkbox],input[type=radio],input[type=file][name!=resumes]').uniform()
        },
        "fnDrawCallback": function (oSettings) {
            $('input[type=checkbox],input[type=radio],input[type=file][name!=resumes]').uniform()
        },
        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            $('td',nRow).on('click',function(){
                $.post('/personal_information_interview_set_session/', {id:aData[2]}, function (d) {
                    location.href = '/personal_information_interview_detail/'
                })
            })
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            aoData.push({csrfmiddlewaretoken: '{{ csrf_token }}'})
            $.ajax({
                "dataType": 'json',
                "type": "POST",
                "url": sSource,
                "data": aoData,
                "success": fnCallback
            });
        }
    });
}

function add(){
    $.post('/personal_information_interview_set_session/', {id:0}, function (d) {
        location.href = '/personal_information_interview_detail/'
    })
}


</script>
{% endblock %}