{% extends 'public/index.html' %}
{% block body %}
<div id="app">
    <embed src="/static/files/六界-ochart.pdf" type="application/pdf" width="100%" height="100%">

{#    <img style="padding-left: 100px" src="/static/files/六界-ochart.pdf"  alt="" width="" height="" usemap="#organization" />#}
{#    <map id="organization" name="organization">#}
{#        <area shape="rect"  coords="94,422,146,615" href="/home/" target="_blank">#}
{#        <area shape="rect"  coords="172,422,224,615" href="/home/" target="_blank">#}
{#        <area shape="rect"  coords="250,422,302,615" href="/home/" target="_blank">#}
{#        <area shape="rect"  coords="328,422,380,615" href="/home/" target="_blank">#}
{#        <area shape="rect"  coords="406,422,458,615" href="/home/" target="_blank">#}
{#        <area shape="rect"  coords="484,422,536,615" href="/home/" target="_blank">#}
{#        <area shape="rect"  coords="562,422,614,615" href="/home/" target="_blank">#}
{#        <area shape="rect"  coords="640,422,692,615" href="/home/" target="_blank">#}
{#        <area shape="rect"  coords="718,422,770,615" href="/home/" target="_blank">#}
{#        <area shape="rect"  coords="796,422,842,615" href="/home/" target="_blank">#}
{#        <area shape="rect"  coords="874,422,926,615" href="/home/" target="_blank">#}
{#        <area shape="rect"  coords="951,422,1003,615" href="/home/" target="_blank">#}
{#    </map>#}
</div>
{% endblock body %}
{% block js %}

{% endblock js %}