<div id="refresh">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="fa fa-coffee"></i>
            </div>
            <div class="details">
                <div class="number">
                     {{ statutory_annual_leave_available }}
                </div>
                <div class="desc">
                     法定年假剩余天数
                </div>
            </div>
    {#        <a class="more" href="#">#}
    {#             View more <i class="m-icon-swapright m-icon-white"></i>#}
    {#        </a>#}
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple">
            <div class="visual">
                <i class="fa fa-coffee"></i>
            </div>
            <div class="details">
                <div class="number">
                     {{ company_annual_leave_available }}
                </div>
                <div class="desc">
                     公司年假剩余天数
                </div>
            </div>
    {#        <a class="more" href="#">#}
    {#             View more <i class="m-icon-swapright m-icon-white"></i>#}
    {#        </a>#}
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat yellow">
            <div class="visual">
                <i class="fa fa-coffee"></i>
            </div>
            <div class="details">
                <div class="number">
                     {{ seasons_leave_available }}
                </div>
                <div class="desc">
                     季度假剩余天数
                </div>
            </div>
    {#        <a class="more" href="#">#}
    {#             View more <i class="m-icon-swapright m-icon-white"></i>#}
    {#        </a>#}
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="fa fa-coffee"></i>
            </div>
            <div class="details">
                <div class="number">
                     {{ leave_in_lieu }}
                </div>
                <div class="desc">
                     调休剩余天数
                </div>
            </div>
    {#        <a class="more" href="#">#}
    {#             View more <i class="m-icon-swapright m-icon-white"></i>#}
    {#        </a>#}
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red">
            <div class="visual">
                <i class="fa fa-coffee"></i>
            </div>
            <div class="details">
                <div class="number">
                     {{ last_year_leave }}
                </div>
                <div class="desc">
                     去年假期剩余天数
                </div>
            </div>
    {#        <a class="more" href="#">#}
    {#             View more <i class="m-icon-swapright m-icon-white"></i>#}
    {#        </a>#}
        </div>
    </div>
</div>