{% extends 'public/index.html' %}
{% block css %}
<link href="/static/assets/theme/default/style.min.css" rel="stylesheet"/>
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/select2/select2-metronic.css"/>
<link rel="stylesheet" href="/static/assets/css/DT_bootstrap.css"/>
<!-- END PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap-select/bootstrap-select.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/jquery-multi-select/css/multi-select.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap-datepicker/css/datepicker.css"/>


{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box grey tasks-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>公事外出申请
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover table-full-width"  id="datatables">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>原由</th>
                        <th>城市</th>
                        <th>地点</th>
                        <th>拜访对象</th>
                        <th>申请时间</th>
                        <th>日期</th>
                        <th>天数</th>
                        <th>工作交接人</th>
                        <th>状态</th>
                        <th>审批状态</th>
                        <th>ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">公事外出申请</h4>
                </div>
                <div class="modal-body form">
                    <form action="#" class="form-horizontal form-row-seperated">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">城市</label>

                            <div class="col-sm-8">
                                <div class="input-group">
                                    <span class="twitter-typeahead"
                                          style="position: relative; display: inline-block;">
                                        <input type="text" class="form-control tt-hint"
                                               disabled="" autocomplete="off" spellcheck="false"
                                               style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
                                        <div type="text" id="city"
                                             name="typeahead_example_modal_1"
                                             class="form-control tt-input" autocomplete="off"
                                             spellcheck="false" dir="auto"
                                             style="width: 250px;position: relative; vertical-align: top; background-color: transparent;"></div><pre
                                            aria-hidden="true"
                                            style="position: absolute; visibility: hidden; white-space: nowrap; font-family: 'Open Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                                            class="tt-dropdown-menu"
                                            style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div
                                            class="tt-dataset-1"></div></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">行政区</label>

                            <div class="col-sm-8">
                                <div class="input-group">
                                    <span class="twitter-typeahead"
                                          style="position: relative; display: inline-block;">
                                        <input type="text" class="form-control tt-hint"
                                               disabled="" autocomplete="off" spellcheck="false"
                                               style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
                                        <div type="text" id="district"
                                             name="typeahead_example_modal_1"
                                             class="form-control tt-input" autocomplete="off"
                                             spellcheck="false" dir="auto"
                                             style="width: 250px;position: relative; vertical-align: top; background-color: transparent;"></div><pre
                                            aria-hidden="true"
                                            style="position: absolute; visibility: hidden; white-space: nowrap; font-family: 'Open Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                                            class="tt-dropdown-menu"
                                            style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div
                                            class="tt-dataset-1"></div></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">地点</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <span class="twitter-typeahead"
                                          style="position: relative; display: inline-block;">
                                        <input type="text" class="form-control tt-hint"
                                               disabled="" autocomplete="off" spellcheck="false"
                                               style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
                                        <input type="text" id="place"
                                               name="typeahead_example_modal_1"
                                               class="form-control tt-input" autocomplete="off"
                                               spellcheck="false" dir="auto"
                                               style="width: 250px;position: relative; vertical-align: top; background-color: transparent;"><pre
                                            aria-hidden="true"
                                            style="position: absolute; visibility: hidden; white-space: nowrap; font-family: 'Open Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                                            class="tt-dropdown-menu"
                                            style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div
                                            class="tt-dataset-1"></div></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">拜访对象</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <span class="twitter-typeahead"
                                          style="position: relative; display: inline-block;">
                                        <input type="text" class="form-control tt-hint"
                                               disabled="" autocomplete="off" spellcheck="false"
                                               style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
                                        <input type="text" id="target"
                                               name="typeahead_example_modal_1"
                                               class="form-control tt-input" autocomplete="off"
                                               spellcheck="false" dir="auto"
                                               style="width: 250px;position: relative; vertical-align: top; background-color: transparent;"><pre
                                            aria-hidden="true"
                                            style="position: absolute; visibility: hidden; white-space: nowrap; font-family: 'Open Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                                            class="tt-dropdown-menu"
                                            style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div
                                            class="tt-dataset-1"></div></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">原由</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" id='reason' style="width: 290px" rows="3"></textarea>
                            </div>
                        </div>
                        <div id="reportrange_div" class="form-group">
                            <label class="col-sm-4 control-label">日期</label>
                            <div class="col-sm-8">
                                <div class="col-md-2" style="margin-left:-15px; float: left">
                                    <div id="reportrange" class="btn default">
                                        <i class="fa fa-calendar"></i>
                                        <span>
                                        </span>
                                        <b class="fa fa-angle-down"></b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="days"></div>
                        <div id="half_day_div" class="form-group">
                        <label class="col-sm-4 control-label">半天(选填)</label>
                            <div  class="col-sm-8">
                                <div class="input-group">
                                    <span class="twitter-typeahead"
                                          style="position: relative; display: inline-block;">
                                        <input id="half_day_disable" type="text" class="form-control tt-hint"
                                               disabled="" autocomplete="off" spellcheck="false"
                                               style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
                                        <div type="text" id="half_day"
                                             name="typeahead_example_modal_1"
                                             class="form-control tt-input" autocomplete="off"
                                             spellcheck="false" dir="auto"
                                             style="width: 250px;position: relative; vertical-align: top; background-color: transparent;"></div><pre
                                            aria-hidden="true"
                                            style="position: absolute; visibility: hidden; white-space: nowrap; font-family: 'Open Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                                            class="tt-dropdown-menu"
                                            style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div
                                            class="tt-dataset-1"></div></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                        <label class="col-sm-4 control-label">工作交接人</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="twitter-typeahead"
                                      style="position: relative; display: inline-block;">
                                    <input type="text" class="form-control tt-hint"
                                           disabled="" autocomplete="off" spellcheck="false"
                                           style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
                                    <div type="text" id="handover_to"
                                         name="typeahead_example_modal_1"
                                         class="form-control tt-input" autocomplete="off"
                                         spellcheck="false" dir="auto"
                                         style="width: 250px;position: relative; vertical-align: top; background-color: transparent;"></div><pre
                                        aria-hidden="true"
                                        style="position: absolute; visibility: hidden; white-space: nowrap; font-family: 'Open Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                                        class="tt-dropdown-menu"
                                        style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div
                                        class="tt-dataset-1"></div></span></span>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div id="id" style="display: none"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="rule_save()"><i class="fa fa-check"></i>保存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body form">
                <form action="#" class="form-horizontal form-row-seperated">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="text-align:center;width:100%"><h4>您确定要删除吗</h4></label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="twitter-typeahead"
                                      style="position: relative; display: inline-block;">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="del()"><i class="fa fa-check"></i>确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body form">
                <form action="#" class="form-horizontal form-row-seperated">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="text-align:center;width:100%"><h4>公事外出时请在到达外勤地点后使用钉钉签到，签到地点需与申请信息保持一致，否则将做缺勤处理</h4></label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="twitter-typeahead"
                                      style="position: relative; display: inline-block;">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
{#                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>#}
                        <button type="button" class="btn btn-primary" data-dismiss="modal"></i>同意</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{#<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
{#    <div class="modal-dialog">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>#}
{#                <h4 class="modal-title"></h4>#}
{#            </div>#}
{#            <div class="modal-body form">#}
{#                <form action="#" class="form-horizontal form-row-seperated">#}
{#                    <div class="form-group">#}
{#                        <label class="col-sm-4 control-label" style="text-align:center;width:100%"><h4>申请调休时，请将加班日期填写在调休的请假原由中。</h4></label>#}
{#                        <div class="col-sm-8">#}
{#                            <div class="input-group">#}
{#                                <span class="twitter-typeahead"#}
{#                                      style="position: relative; display: inline-block;">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>#}
{#                        <button type="button" class="btn btn-primary" data-dismiss="modal"></i>同意</button>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<!--/datatables-->
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/assets/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/data-tables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/data-tables/DT_bootstrap.js"></script>

<script src="/static/assets/plugins/context.js"></script>
<script src="/static/assets/plugins/jstree/dist/jstree.min.js"></script>
<script src="/static/assets/plugins/holder.js"></script>
<script src="/static/assets/plugins/stilearn-base.js"></script>
<script type="text/javascript" src="/static/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>
<script src="/static/assets/plugins/select2/select2.js"></script>
<script src="/static/assets/plugins/datatables/extras/TableTools.min.js"></script>
<script src="/static/assets/scripts/custom/table-managed.js"></script>
{#<script type="text/javascript" src="/static/assets/plugins/bootstrap-daterangepicker/moment.min.js"></script>#}
<script type="text/javascript" src="/static/assets/plugins/bootstrap-daterangepicker/daterangepicker.js" ></script>
<script type="text/javascript" src="/static/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>


<script type="text/javascript">
var oTable;
var aButtons
/* Formating function for row details */

$(document).ready(function () {
    $('#city').select2({
        multiple: false,
        placeholder: '选择城市',
        allowClear: true,
        data: [{'text':'上海','id':1},{'text':'北京','id':2},{'text':'西安','id':3},{'text':'南京','id':4},{'text':'金华','id':5}]
    });

    $('#district').select2({
        multiple: false,
        placeholder: '选择行政区域',
        allowClear: true,
        data: []
    });

    $('#city').on("click", function () {
        if ($('#city').select2('data')['text'] == '上海'){
            $("#district").select2({
                multiple: false,
                placeholder: '选择行政区域',
                allowClear: true,
                data: [{'text':'黄浦区','id':1},{'text':'徐汇区','id':2},{'text':'长宁区','id':3},{'text':'静安区','id':4},
                       {'text':'普陀区','id':5},{'text':'虹口区','id':6},{'text':'杨浦区','id':7},{'text':'闵行区','id':8},
                       {'text':'宝山区','id':9},{'text':'嘉定区','id':10},{'text':'浦东新区','id':11},{'text':'金山区','id':12},
                       {'text':'松江区','id':13},{'text':'青浦区','id':14},{'text':'奉贤区','id':15},{'text':'崇明区','id':16}]
            })
        }else if ($('#city').select2('data')['text'] == '北京'){
            $("#district").select2({
                multiple: false,
                placeholder: '选择行政区域',
                allowClear: true,
                data: [{'text':'朝阳区','id':1},{'text':'海淀区','id':2},{'text':'丰台区','id':3},{'text':'昌平区','id':4},
                       {'text':'大兴区','id':5},{'text':'通州区','id':6},{'text':'西城区','id':7},{'text':'房山区','id':8},
                       {'text':'顺义区','id':9},{'text':'东城区','id':10},{'text':'石景山区','id':11},{'text':'密云区','id':12},
                       {'text':'平谷区','id':13},{'text':'怀柔区','id':14},{'text':'延庆区','id':15},{'text':'门头沟区','id':16}]
            })
        }else if ($('#city').select2('data')['text'] == '南京'){
            $("#district").select2({
                multiple: false,
                placeholder: '选择行政区域',
                allowClear: true,
                data: [{'text':'玄武区','id':1},{'text':'秦淮区','id':2},{'text':'鼓楼区','id':3},{'text':'建邺区','id':4},
                       {'text':'栖霞区','id':5},{'text':'雨花台区','id':6},{'text':'浦口区','id':7},{'text':'江宁区','id':8},
                       {'text':'六合区','id':9},{'text':'溧水区','id':10},{'text':'高淳区','id':11}]
            })
        }else if ($('#city').select2('data')['text'] == '西安'){
            $("#district").select2({
                multiple: false,
                placeholder: '选择行政区域',
                allowClear: true,
                data: [{'text':'未央区','id':1},{'text':'新城区','id':2},{'text':'碑林区','id':3},{'text':'莲湖区','id':4},
                       {'text':'灞桥区','id':5},{'text':'雁塔区','id':6},{'text':'阎良区','id':7},{'text':'临潼区','id':8},
                       {'text':'长安区','id':9},{'text':'高陵区','id':10},{'text':'鄠邑区','id':11},{'text':'蓝田县','id':12},
                       {'text':'周至县','id':13},{'text':'西咸新区','id':14}]
            })
        }
        else if ($('#city').select2('data')['text'] == '金华'){
            $("#district").select2({
                multiple: false,
                placeholder: '选择行政区域',
                allowClear: true,
                data: [{'text':'婺城区','id':1},{'text':'金东区','id':2},{'text':'兰溪市','id':3},{'text':'永康市','id':4},
                       {'text':'义乌市','id':5},{'text':'东阳市','id':6}]
            })
        }
    })

    $('#reportrange').daterangepicker({
        opens: (App.isRTL() ? 'left' : 'right'),

    //    startDate: moment().subtract('days', 29),
    //    endDate: moment(),
        minDate: moment().subtract('days', 1),
        maxDate: moment().add(90,'days'),
        dateLimit: {
            days: 2800
        },
        showDropdowns: true,
        showWeekNumbers: false,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: false,
        ranges: {
           'Today': [moment(), moment()],
{#           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],#}
{#           'Last 7 Days': [moment().subtract(6, 'days'), moment()],#}
{#           'This Month': [moment().startOf('month'), moment().endOf('month')],#}
{#           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]#}
        },
        buttonClasses: ['btn'],
        applyClass: 'green',
        cancelClass: 'default',
        format: 'YYYY/MM/DD',
        separator: ' to ',
        locale: {
            applyLabel: 'Apply',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: '自定义',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            monthNamesShort: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
            firstDay: 1
        }
        },
        function (start, end) {
            $('#reportrange span').html(start.format('YYYY-MM-DD') + '  ->  ' + end.format('YYYY-MM-DD'));
            var date1 = new Date(start.format('YYYY/MM/DD'));
            var date2 = new Date(end.format('YYYY/MM/DD'));
            var days = (date2 - date1) / 86400000 + 1
            $('#days').html('<div class="form-group"><label class="col-sm-4 control-label">已选天数</label><div class="col-sm-8"><h5>'+days+'天</h5></div></div></div>')
            if (days > 1) {
                $("#half_day").attr('disabled',true)
            }else{
                $("#half_day").attr('disabled',false)
                var half_day = $('#half_day').select2('data');
                if (half_day != null){
                    $('#days').html('<div class="form-group"><label class="col-sm-4 control-label">已选天数</label><div class="col-sm-8"><h5>0.5天</h5></div></div></div>')
                }
            }
{#            var begin = start.format('YYYY-MM-DD')#}
{#            var end = end.format('YYYY-MM-DD')#}
{#            $('#begin_time').val(begin)#}
{#            $('#end_time').val(end)#}
{#            var type = $('#active_tab1').attr('class')#}
{#            if (type == 'active') {#}
{#                loaddata(begin, end,'午餐')#}
{#            }else{#}
{#                loaddata(begin, end,'晚餐')#}
{#            }#}
{#            $('#datatables').dataTable().fnDraw()#}
        }
    );



{#    var time = $('#reportrange span').html().split('  ')#}
{#    var begin = time[0]#}
{#    var end = time[2]#}

    $('#half_day').select2({
        multiple: false,
        placeholder: '选择时间段',
        allowClear: true,
        data: [{'text':'10:00-15:00','id':1},{'text':'15:00-19:00','id':2},{'text':'19:00-23:00','id':3}]
    });
    $('#half_day').on("click", function () {
        $('#days').html('<div class="form-group"><label class="col-sm-4 control-label">已选天数</label><div class="col-sm-8"><h5>0.5天</h5></div></div></div>')
    })

    aButtons = [
            {
                "sExtends": 'text',

                "sButtonText": '<font color="white">申请</font><i class="fa fa-plus"></i>',
                "sButtonClass": "btn green ",
                "fnComplete": function (nButton, oConfig, nRow) {
                    add()
                }

            },
            {
                "sExtends": 'select',
                "sButtonText": '<font color="white">撤回</font><i class="fa fa-times"></i>',
                "sButtonClass": "btn btn-danger",
                "fnComplete": function (nButton, oConfig, nRow) {
                    del_verify()
                }
            }
        ]
    loaddata()


});
function loaddata() {
    oTable = $('#datatables').dataTable({
        "sAjaxSource": "/work_out_apply_data/?rand=" + Math.random(),
        "sDom": "<'row-fluid'<'span6'T><'span6'f>r><'table-scrollable't><'fluid'<'span3'l><'span4'i><'span5'p>>",
        "bServerSide": true,
        "bPaginate": true, // 是否使用分页
        "bProcessing": true, //是否显示正在处理的提示
        "bLengthChange": true, //是否启用设置每页显示记录数
        "bFilter": true, //是否使用搜索
        "bStateSave": true,
        "bDestroy": true,
        "bSort": true, //是否使用排序
        "bAutoWidth": true, //列的宽度会根据table的宽度自适应
        "sPaginationType": "bootstrap",
//        "aLengthMenu": [
//                    [5, 15, 20, -1],
//                    [5, 15, 20, "All"] // change per page values here
//                ],
        "oTableTools": {
            "sRowSelect": "single",
            'aButtons': aButtons
        },
        "aoColumns": [
            { "sClass": "center", 'sWidth': "5%"},
            { "sClass": "center", 'sWidth': "5%"},
            { "sClass": "center", 'sWidth': "5%"},
            { "sClass": "center", 'sWidth': "5%"},
            { "sClass": "center", 'sWidth': "15%"},
            { "sClass": "center", 'sWidth': "10%"},
            { "sClass": "center", 'sWidth': "15%"},
            { "sClass": "center", 'sWidth': "5%"},
            { "sClass": "center", 'sWidth': "5%"},
            { "sClass": "center", 'sWidth': "10%", 'bVisible': false},
            { "sClass": "center", 'sWidth': "10%"},
            { "sClass": "center", 'sWidth': "10%", 'bVisible': false}


        ],
        "aaSorting": [
            [3, 'desc']
        ],
        "oLanguage": {
            "sProcessing": "正在加载数据...",
            'sSearch': '数据筛选:',
            "sLengthMenu": "每页显示 _MENU_ 项记录",
            "sZeroRecords": "没有符合项件的数据...",
            "sInfo": "当前数据为从第 _START_ 到第 _END_ 项数据；总共有 _TOTAL_ 项记录",
            "sInfoEmpty": "显示 0 至 0 共 0 项",
            "sInfoFiltered": "(_MAX_)",
            "oPaginate": {
                "sFirst": '首页',
                "sPrevious": "上一页",
                "sNext": "下一页",
                "sLast": "最后一页"
            }

        },
        "fnInitComplete": function (oSettings, json) {
            $('input[type=checkbox],input[type=radio],input[type=file]').uniform()
        },
        "fnDrawCallback": function (oSettings) {
            $('input[type=checkbox],input[type=radio],input[type=file]').uniform()
        },
        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            if(aData[9] == 1 || aData[9] == 2 || aData[9] == 3){
                $('td:eq(9)',nRow).html('<div><img src="/static/assets/img/waiting.png">&nbsp'+aData[10]+'</div>')
            }else if(aData[9] == 8){
                $('td:eq(9)',nRow).html('<div><img src="/static/assets/img/running.png">&nbsp'+aData[10]+'</div>')
            }else{
                $('td:eq(9)',nRow).html('<div><img src="/static/assets/img/stoping.png">&nbsp'+aData[10]+'</div>')
            }
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
{#            aoData.push({csrfmiddlewaretoken: '{{ csrf_token }}'})#}
            $.ajax({
                "dataType": 'json',
                "type": "POST",
                "url": sSource,
                "data": aoData,
                "success": fnCallback
            });
        }
    });
}

function rule_save() {
    var city = $('#city').select2('data');
    var district = $('#district').select2('data');
    var place = $('#place').val();
    var target = $('#target').val();
    var reason = $('#reason').val();
    var vacation_date = $('#reportrange span').html().split('  -&gt;  ')
    var begin = vacation_date[0]
    var end = vacation_date[1]
    var half_day = $('#half_day').select2('data');
    var handover_to = $('#handover_to').select2('data')

    if (city == null || district == null || place == '' || target == '' || reason == '' || handover_to == '') {
        toastr.error('请填写完整')
        return;
    }

    var handover_to_list = []
    for (var i in handover_to) {
        handover_to_list.push(handover_to[i]["text"])
    }
    handover_to = handover_to_list.join(',')

    if (begin != end && half_day != null){
        toastr.error('请假多天不能选择半天选项')
        return;
    }

    if (half_day != null){
        half_day = half_day['text']
    }

    showAjaxLoad()
    $(self).button('loading');//正在登陆中，显示data-loading-text 标记内容


    $.ajax({
        url: '/work_out_apply_save/',
        type: "POST",
        data: {
            city: city['text'],
            district: district['text'],
            place: place,
            target: target,
            reason: reason,
            begin: begin,
            end: end,
            half_day: half_day,
            handover_to: handover_to
        },
        success: function (d) {
            hideAjaxLoad()
            if (d.code == 0) {
                toastr.success(d.msg)
                $('#datatables').dataTable().fnDraw()
            } else {
                toastr.error(d.msg)
            }
        }
    });
    $('#myModal').modal('hide')
    $(self).button('complete')
}
function contain(Array, s) {
    for (var i = 0; i < Array.length; i++)
        if (Array[i] == s)
            return true;
    return false;
}
function add() {
    $("#myModal3").modal('show')
    $('#days').html("")
    $('#city').select2("data", "")
    $('#district').select2("data", "")
    $('#place').val("")
    $('#target').val("")
    $('#reason').val("")
    $('#reportrange span').html(moment().format('YYYY-MM-DD') + '  ->  ' + moment().format('YYYY-MM-DD'))
    $('#half_day').select2("data", "")
    $("#myModal").modal('show')
    $('#handover_to').select2("data", "")
    $.post('/order_form_dropdown/', {}, function (d) {
        $('#handover_to').select2({
            multiple: true,
            placeholder: '请选择工作交接人',
            allowClear: true,
            data: d['list']
        });
    })
}

function del_verify() {
    var oTT = TableTools.fnGetInstance('datatables');
    var aData = oTT.fnGetSelectedData();
    if (aData.length == 1) {
        $("#myModal2").modal('show')
    }
    else {
        toastr.error('没有选择')
    }
}

function del() {
    var oTT = TableTools.fnGetInstance('datatables');
    var aData = oTT.fnGetSelectedData();
    if (aData.length == 1) {
        showAjaxLoad()
        $.post('/work_out_apply_del/', {id: aData[0][11]}, function (d) {
            $('#refresh').load('/vacation_apply_sub/')
            hideAjaxLoad()
            if (d.code == 0) {
                toastr.success(d.msg)
                $('#datatables').dataTable().fnDraw()
            } else {
                toastr.error(d.msg)
            }
        })
    }
    $('#myModal2').modal('hide')
}
</script>
{% endblock %}