{% extends 'public/index.html' %}
{% block css %}
<link href="/static/assets/theme/default/style.min.css" rel="stylesheet"/>
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/select2/select2-metronic.css"/>
<link rel="stylesheet" href="/static/assets/css/DT_bootstrap.css"/>
<!-- END PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap-select/bootstrap-select.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/jquery-multi-select/css/multi-select.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" />

{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <a id="back" class="btn btn-sm yellow">
             返回 <i class="fa fa-reply"></i>
        </a>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
{#        <div class="note note-danger">#}
{#            <h4 class="block">过期通知：</h4>#}
{#            <p>#}
{#                <span style="color:red">{{ expire_info }}</span>#}
{#            </p>#}
{#        </div>#}
        <div class="portlet box grey tasks-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>出差预算
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover table-full-width"  id="datatables1">
                    <thead>
                    <tr>
                        <th>预算类别</th>
                        <th>预算费用</th>
                        <th>ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
{% if request.session.status == '4' %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
{#        <div class="note note-danger">#}
{#            <h4 class="block">过期通知：</h4>#}
{#            <p>#}
{#                <span style="color:red">{{ expire_info }}</span>#}
{#            </p>#}
{#        </div>#}
        <div class="portlet box grey tasks-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>实际预算
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover table-full-width"  id="datatables2">
                    <thead>
                    <tr>
                        <th>实际机票费用</th>
                        <th>实际住宿费用</th>
                        <th>住宿费用支付方式</th>
                        <th>ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
{% endif %}

<div class="modal fade" id="myModal1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">出差预算</h4>
            </div>
            <div class="modal-body form">
                <form action="#" class="form-horizontal form-row-seperated">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">预算类型</label>

                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="twitter-typeahead"
                                      style="position: relative; display: inline-block;">
                                    <input type="text" class="form-control tt-hint"
                                           disabled="" autocomplete="off" spellcheck="false"
                                           style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
                                    <div type="text" id="budget_type"
                                         name="typeahead_example_modal_1"
                                         class="form-control tt-input" autocomplete="off"
                                         spellcheck="false" dir="auto"
                                         style="width: 250px;position: relative; vertical-align: top; background-color: transparent;"></div><pre
                                        aria-hidden="true"
                                        style="position: absolute; visibility: hidden; white-space: nowrap; font-family: 'Open Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                                        class="tt-dropdown-menu"
                                        style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div
                                        class="tt-dataset-1"></div></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">预算费用</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="twitter-typeahead"
                                      style="position: relative; display: inline-block;">
                                    <input type="text" class="form-control tt-hint"
                                           disabled="" autocomplete="off" spellcheck="false"
                                           style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
                                    <input type="text" id="budget"
                                           name="typeahead_example_modal_1"
                                           class="form-control tt-input" autocomplete="off"
                                           spellcheck="false" dir="auto"
                                           style="width: 250px;position: relative; vertical-align: top; background-color: transparent;"><pre
                                        aria-hidden="true"
                                        style="position: absolute; visibility: hidden; white-space: nowrap; font-family: 'Open Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                                        class="tt-dropdown-menu"
                                        style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div
                                        class="tt-dataset-1"></div></span></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="id" style="display: none"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="rule_save1()"><i class="fa fa-check"></i>保存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/datatables-->
<div class="modal fade" id="myModal2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">实际预算</h4>
            </div>
            <div class="modal-body form">
                <form action="#" class="form-horizontal form-row-seperated">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">实际机票费用</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="twitter-typeahead"
                                      style="position: relative; display: inline-block;">
                                    <input type="text" class="form-control tt-hint"
                                           disabled="" autocomplete="off" spellcheck="false"
                                           style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
                                    <input type="text" id="airfare"
                                           name="typeahead_example_modal_1"
                                           class="form-control tt-input" autocomplete="off"
                                           spellcheck="false" dir="auto"
                                           style="width: 250px;position: relative; vertical-align: top; background-color: transparent;"><pre
                                        aria-hidden="true"
                                        style="position: absolute; visibility: hidden; white-space: nowrap; font-family: 'Open Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                                        class="tt-dropdown-menu"
                                        style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div
                                        class="tt-dataset-1"></div></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">实际住宿费用</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="twitter-typeahead"
                                      style="position: relative; display: inline-block;">
                                    <input type="text" class="form-control tt-hint"
                                           disabled="" autocomplete="off" spellcheck="false"
                                           style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
                                    <input type="text" id="accommodation_cost"
                                           name="typeahead_example_modal_1"
                                           class="form-control tt-input" autocomplete="off"
                                           spellcheck="false" dir="auto"
                                           style="width: 250px;position: relative; vertical-align: top; background-color: transparent;"><pre
                                        aria-hidden="true"
                                        style="position: absolute; visibility: hidden; white-space: nowrap; font-family: 'Open Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                                        class="tt-dropdown-menu"
                                        style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div
                                        class="tt-dataset-1"></div></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">住宿费用支付方式</label>

                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="twitter-typeahead"
                                      style="position: relative; display: inline-block;">
                                    <input type="text" class="form-control tt-hint"
                                           disabled="" autocomplete="off" spellcheck="false"
                                           style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
                                    <div type="text" id="payment"
                                         name="typeahead_example_modal_1"
                                         class="form-control tt-input" autocomplete="off"
                                         spellcheck="false" dir="auto"
                                         style="width: 250px;position: relative; vertical-align: top; background-color: transparent;"></div><pre
                                        aria-hidden="true"
                                        style="position: absolute; visibility: hidden; white-space: nowrap; font-family: 'Open Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                                        class="tt-dropdown-menu"
                                        style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div
                                        class="tt-dataset-1"></div></span></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="id" style="display: none"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="rule_save2()"><i class="fa fa-check"></i>保存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/assets/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/data-tables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/data-tables/DT_bootstrap.js"></script>

<!--<script src="/static/assets/plugins/context.js"></script>-->
<!--<script src="/static/assets/plugins/jstree/dist/jstree.min.js"></script>-->
<script src="/static/assets/plugins/holder.js"></script>
<script src="/static/assets/plugins/stilearn-base.js"></script>
<script type="text/javascript" src="/static/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>
<script src="/static/assets/plugins/select2/select2.js"></script>
<script src="/static/assets/plugins/datatables/extras/TableTools.min.js"></script>
<script src="/static/assets/scripts/custom/table-managed.js"></script>
<script type="text/javascript" src="/static/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/static/assets/plugins/bootstrap-daterangepicker/daterangepicker.js" ></script>



<script type="text/javascript">
var oTable;
var aButtons
/* Formating function for row details */

$(document).ready(function () {
    aButtons1 = [
        {% if request.session.status == '0' %}
                {
                    "sExtends": 'text',
                    "sButtonText": '<font color="white">添加预算</font><i class="fa fa-plus"></i>',
                    "sButtonClass": "btn green",
                    "fnComplete": function (nButton, oConfig, nRow) {
                        add1()
                    }
                },
                {
                    "sExtends": 'text',
                    "sButtonText": '<font color="white">编辑预算</font><i class="fa fa-edit"></i>',
                    "sButtonClass": "btn blue",
                    "fnComplete": function (nButton, oConfig, nRow) {
                        edit1()
                    }
                },
                {
                    "sExtends": 'text',
                    "sButtonText": '<font color="white">删除预算</font><i class="fa fa-times"></i>',
                    "sButtonClass": "btn red",
                    "fnComplete": function (nButton, oConfig, nRow) {
                        del1()
                    }
                }
        {% endif %}
            ];


    aButtons2 = [{
                    "sExtends": 'text',
                    "sButtonText": '<font color="white">添加</font><i class="fa fa-plus"></i>',
                    "sButtonClass": "btn green",
                    "fnComplete": function (nButton, oConfig, nRow) {
                        add2()
                    }
                },
                {
                    "sExtends": 'text',
                    "sButtonText": '<font color="white">编辑</font><i class="fa fa-edit"></i>',
                    "sButtonClass": "btn blue",
                    "fnComplete": function (nButton, oConfig, nRow) {
                        edit2()
                    }
                },
                {
                    "sExtends": 'text',
                    "sButtonText": '<font color="white">删除</font><i class="fa fa-times"></i>',
                    "sButtonClass": "btn red",
                    "fnComplete": function (nButton, oConfig, nRow) {
                        del2()
                    }
                }];


    $('#reportrange').daterangepicker({
        opens: (App.isRTL() ? 'left' : 'right'),

    //    startDate: moment().subtract('days', 29),
    //    endDate: moment(),
        minDate: moment().subtract(90,'days'),
        maxDate: moment().add(90,'days'),
        dateLimit: {
            days: 2800
        },
        showDropdowns: true,
        showWeekNumbers: false,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: false,
        ranges: {
           'Today': [moment(), moment()],
{#           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],#}
{#           'Last 7 Days': [moment().subtract(6, 'days'), moment()],#}
{#           'This Month': [moment().startOf('month'), moment().endOf('month')],#}
{#           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]#}
        },
        buttonClasses: ['btn'],
        applyClass: 'green',
        cancelClass: 'default',
        format: 'YYYY/MM/DD',
        separator: ' to ',
        locale: {
            applyLabel: 'Apply',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: '自定义',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            monthNamesShort: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
            firstDay: 1
        }
        },
        function (start, end) {
            $('#reportrange span').html(start.format('YYYY-MM-DD') + '  ->  ' + end.format('YYYY-MM-DD'));
{#            var begin = start.format('YYYY-MM-DD')#}
{#            var end = end.format('YYYY-MM-DD')#}
{#            $('#begin_time').val(begin)#}
{#            $('#end_time').val(end)#}
{#            var type = $('#active_tab1').attr('class')#}
{#            if (type == 'active') {#}
{#                loaddata(begin, end,'午餐')#}
{#            }else{#}
{#                loaddata(begin, end,'晚餐')#}
{#            }#}
{#            $('#datatables').dataTable().fnDraw()#}
        }
    );

    $('#back').on('click',function(){
        history.go(-1)
    });


    $('#budget_type').select2({
        multiple: false,
        placeholder: '选择预算类型',
        allowClear: true,
        data: [{'text':'交通费','id':1},
               {'text':'膳食费','id':2},
               {'text':'招待费','id':3},
               {'text':'其他费用','id':4}]
    });

    $('#payment').select2({
        multiple: false,
        placeholder: '选择支付方式',
        allowClear: true,
        data: [{'text':'前台现结','id':1},
               {'text':'公司月结','id':2},
               {'text':'无住宿','id':3}]
    });

    loaddata()
    loaddata2()
});

function loaddata() {
    oTable = $('#datatables1').dataTable({
        "sAjaxSource": "/business_trip_budget_data/?rand=" + Math.random(),
        "sDom": "<'row-fluid'<'span6'T><'span6'f>r><'table-scrollable't><'fluid'<'span3'l><'span4'i><'span5'p>>",
        "bServerSide": true,
        "bPaginate": true, // 是否使用分页
        "bProcessing": true, //是否显示正在处理的提示
        "bLengthChange": true, //是否启用设置每页显示记录数
        "bFilter": true, //是否使用搜索
        "bStateSave": true,
        "bDestroy": true,
        "bSort": true, //是否使用排序
        "bAutoWidth": true, //列的宽度会根据table的宽度自适应
        "sPaginationType": "bootstrap",
//        "aLengthMenu": [
//                    [5, 15, 20, -1],
//                    [5, 15, 20, "All"] // change per page values here
//                ],
        "oTableTools": {
            "sRowSelect": "single",
            'aButtons': aButtons1
        },
        "aoColumns": [
            { "sClass": "center", 'sWidth': "5%"},
            { "sClass": "center", 'sWidth': "5%"},
            { "sClass": "center", 'sWidth': "5%", 'bVisible': false}


        ],
        "aaSorting": [
            [2, 'asc']
        ],
        "oLanguage": {
            "sProcessing": "正在加载数据...",
            'sSearch': '数据筛选:',
            "sLengthMenu": "每页显示 _MENU_ 项记录",
            "sZeroRecords": "没有符合项件的数据...",
            "sInfo": "当前数据为从第 _START_ 到第 _END_ 项数据；总共有 _TOTAL_ 项记录",
            "sInfoEmpty": "显示 0 至 0 共 0 项",
            "sInfoFiltered": "(_MAX_)",
            "oPaginate": {
                "sFirst": '首页',
                "sPrevious": "上一页",
                "sNext": "下一页",
                "sLast": "最后一页"
            }

        },
        "fnInitComplete": function (oSettings, json) {
            $('input[type=checkbox],input[type=radio],input[type=file]').uniform()
        },
        "fnDrawCallback": function (oSettings) {
            $('input[type=checkbox],input[type=radio],input[type=file]').uniform()
        },
        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            aoData.push({csrfmiddlewaretoken: '{{ csrf_token }}'})
            $.ajax({
                "dataType": 'json',
                "type": "POST",
                "url": sSource,
                "data": aoData,
                "success": fnCallback
            });
        }
    });
}


function loaddata2() {
    oTable = $('#datatables2').dataTable({
        "sAjaxSource": "/business_trip_budget_sub_data/?rand=" + Math.random(),
        "sDom": "<'row-fluid'<'span6'T><'span6'f>r><'table-scrollable't><'fluid'<'span3'l><'span4'i><'span5'p>>",
        "bServerSide": true,
        "bPaginate": true, // 是否使用分页
        "bProcessing": true, //是否显示正在处理的提示
        "bLengthChange": true, //是否启用设置每页显示记录数
        "bFilter": true, //是否使用搜索
        "bStateSave": true,
        "bDestroy": true,
        "bSort": true, //是否使用排序
        "bAutoWidth": true, //列的宽度会根据table的宽度自适应
        "sPaginationType": "bootstrap",
//        "aLengthMenu": [
//                    [5, 15, 20, -1],
//                    [5, 15, 20, "All"] // change per page values here
//                ],
        "oTableTools": {
            "sRowSelect": "single",
            'aButtons': aButtons2
        },
        "aoColumns": [
            { "sClass": "center", 'sWidth': "5%"},
            { "sClass": "center", 'sWidth': "5%"},
            { "sClass": "center", 'sWidth': "5%"},
            { "sClass": "center", 'sWidth': "5%", 'bVisible': false}


        ],
        "aaSorting": [
            [2, 'asc']
        ],
        "oLanguage": {
            "sProcessing": "正在加载数据...",
            'sSearch': '数据筛选:',
            "sLengthMenu": "每页显示 _MENU_ 项记录",
            "sZeroRecords": "没有符合项件的数据...",
            "sInfo": "当前数据为从第 _START_ 到第 _END_ 项数据；总共有 _TOTAL_ 项记录",
            "sInfoEmpty": "显示 0 至 0 共 0 项",
            "sInfoFiltered": "(_MAX_)",
            "oPaginate": {
                "sFirst": '首页',
                "sPrevious": "上一页",
                "sNext": "下一页",
                "sLast": "最后一页"
            }

        },
        "fnInitComplete": function (oSettings, json) {
            $('input[type=checkbox],input[type=radio],input[type=file]').uniform()
        },
        "fnDrawCallback": function (oSettings) {
            $('input[type=checkbox],input[type=radio],input[type=file]').uniform()
        },
        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            aoData.push({csrfmiddlewaretoken: '{{ csrf_token }}'})
            $.ajax({
                "dataType": 'json',
                "type": "POST",
                "url": sSource,
                "data": aoData,
                "success": fnCallback
            });
        }
    });
}


function add1() {
    $('#budget_type').select2("data", "");
    $('#budget').val("");
    $("#myModal1").modal('show')
}


function edit1() {
    var oTT = TableTools.fnGetInstance('datatables1');
    var aData = oTT.fnGetSelectedData();
    var budget_type = aData[0][0];
    var budget = aData[0][1];
    var id = aData[0][2];
    $('#budget_type').select2("data",{'text':budget_type});
    $('#budget').val(budget);
    $('#id').val(id);
    $("#myModal1").modal('show')
}



function del1() {
    var oTT = TableTools.fnGetInstance('datatables1');
    var aData = oTT.fnGetSelectedData();
    var id = aData[0][2];
    $.post('/business_trip_budget_del/', {id: id}, function (d) {
        hideAjaxLoad()
        if (d.code == 0) {
            toastr.success(d.msg)
            $('#datatables1').dataTable().fnDraw()
        } else {
            toastr.error(d.msg)
        }
    })
}



function rule_save1() {
    var budget_type = $('#budget_type').select2('data');
    var budget = $('#budget').val();
    var parent_id = {{ request.session.parent_id }};
    var id = $('#id').val();

    if (budget_type == null || budget == '') {
        toastr.error('不能有空白');
        return;
    }

    showAjaxLoad();
    $(self).button('loading');//正在登陆中，显示data-loading-text 标记内容

    $.ajax({
        url: '/business_trip_budget_save/',
        type: "POST",
        data: {
            budget_type: budget_type['text'],
            budget: budget,
            parent_id: parent_id,
            id: id
        },
        success: function (d) {
            hideAjaxLoad()
            if (d.code == 0) {
                toastr.success(d.msg)
                $('#datatables1').dataTable().fnDraw()
            } else {
                toastr.error(d.msg)
            }
        }
    });
    $('#myModal1').modal('hide')
    $(self).button('complete')
}




function add2() {
    $('#airfare').val("");
    $('#accommodation_cost').val("");
    $('#payment').select2("data", "");
    $("#myModal2").modal('show')
}


function edit2() {
    var oTT = TableTools.fnGetInstance('datatables2');
    var aData = oTT.fnGetSelectedData();
    var airfare = aData[0][0];
    var accommodation_cost = aData[0][1];
    var payment = aData[0][2];
    var id = aData[0][3];
    $('#airfare').val(airfare);
    $('#accommodation_cost').val(accommodation_cost);
    $('#payment').select2("data",{'text':payment});
    $('#id').val(id);
    $("#myModal2").modal('show')
}



function del2() {
    var oTT = TableTools.fnGetInstance('datatables2');
    var aData = oTT.fnGetSelectedData();
    var id = aData[0][3];
    $.post('/business_trip_budget_sub_del/', {id: id}, function (d) {
        hideAjaxLoad()
        if (d.code == 0) {
            toastr.success(d.msg)
            $('#datatables2').dataTable().fnDraw()
        } else {
            toastr.error(d.msg)
        }
    })
}



function rule_save2() {
    var airfare = $('#airfare').val();
    var accommodation_cost = $('#accommodation_cost').val();
    var payment = $('#payment').select2('data');
    var parent_id = {{ request.session.parent_id }};
    var id = $('#id').val();

    if (airfare == ''){
        airfare = 0
    }
    if (accommodation_cost == ''){
        accommodation_cost = 0
    }
    if (payment == null) {
        toastr.error('不能有空白');
        return;
    }

    showAjaxLoad();
    $(self).button('loading');//正在登陆中，显示data-loading-text 标记内容

    $.ajax({
        url: '/business_trip_budget_sub_save/',
        type: "POST",
        data: {
            airfare: airfare,
            accommodation_cost: accommodation_cost,
            payment: payment['text'],
            parent_id: parent_id,
            id: id
        },
        success: function (d) {
            hideAjaxLoad()
            if (d.code == 0) {
                toastr.success(d.msg)
                $('#datatables2').dataTable().fnDraw()
            } else {
                toastr.error(d.msg)
            }
        }
    });
    $('#myModal2').modal('hide')
    $(self).button('complete')
}



</script>
{% endblock %}
